<div class="homeheader">
	<h1 align="center ">Imodel it</h1>
</div>
<div class="homeheader2">
	<h3 align="center">"Because you too can be seen"</h3>
</div>	
<div class="mainbody group" align="center">
	<span class="box1">
		<p>
			Imodel is a place where you can share your photo books 
			get feedback from others, work offers, and a place to share your beauty 
		</p>
		<div class="joinbutton" align="center">
				<%= link_to "Join us", root_path %>
		</div>
	</span>
	<span class="boxvideo">
		<iframe width="460" height="259" src="//www.youtube.com/embed/0kx_BLOx968" frameborder="0" allowfullscreen></iframe>
	</span>

</div>

<div class="homeimages group">
	<ul align="left">
			<li><%= image_tag "modelo4.jpg" %></li>
			<li><%= image_tag "modelo9.jpg" %></li>
			<li><%= image_tag "modelo8.jpg" %></li>
			<li><%= image_tag "modelo6.jpg" %></li>
			<li><%= image_tag "model10.jpg" %></li>
			<li><%= image_tag "model11.jpg" %></li>

	</ul>
</div>
<div class="homefooter" align="center">
	Imodel Chile, 2013
</div>		
